 

.home-features .container h2{
  line-height 56px
  padding-bottom 0
  &:before{
    content: '';
    position: absolute;
    left: 4px;
    top: 12px;
    width: 26px;
    height: 26px;
    background-image: url(/eletron.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:after{
    display none
  }
}
p.description{
  font-size 1.4rem !important
}
#main-title{
  color var(--c-brand)
  font-weight bold
  letter-spacing 0.2rem
  margin-bottom 10px
}
.nav-bar a.nav-bar-title{
  color var(--c-brand)!important
}

.container
  justify-content: center;

a.sidebar-link-item.active{
}
.container .main {
    max-width: 800px;
}
.container .main .name .clip{
    font-size:40px !important;
}
.container .main p.text {
     font-size:30px !important;
}
.VPHero.has-image .container{
    text-align: center !important
}
.VPHero.has-image .actions {
     justify-content: center !important
}
.container .image {
    display: none;
}
a.VPButton.medium.brand {
    font-weight: 800!important;
}
a.VPButton.medium.alt{
  font-weight: 520!important;
}
 
 
 
.item .VPFeature .details {
    color:var(--vp-c-text-2) !important;
}
.VPNavBarMenuGroup .button span:hover{
   color:var(--vp-c-brand)!important;
}
 
 
aside.VPSidebar::-webkit-scrollbar {
    width: 0!important;
    height: 0!important;
}

p > img {
  @apply border
}
 
 
div.icon {
    width: 100%!important;
    height: 48px!important;
    font-size: 24px!important;
    background-color:transparent !important;
}
